<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/header.css')}}" />
  <title>{% block title %}{% endblock %} - FilesSharer</title>
</head>
<body>
  <header>
    <ul>
      <li class="left"><p class="pagetitle"><a href="/" style="color: #ffffff;">FS</a></p></li>
      <li class="left"><a>关于</a></li>
      <li class="left"><a>加入</a></li>

      <li class="right"><a href="/auth/login">{ 登录/注册 | username}</a></li>
    </ul>
  </header>

  <div id="app">
    {% block app %}{% endblock %}
  </div>
</body>
</html>