<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}" />
  <title>share your file to others - FilesSharer</title>
</head>
<body>
  <header>
    <ul>
      <li><p class="pagetitle">FS</p></li>
      <li><a>About</a></li>
      <li><a>Join us</a></li>
    </ul>
  </header>

  <div id="app">
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
    <h1>do nothing</h1>
  </div>
</body>
</html>