<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/header.css')}}" />
  <style>
      @keyframes moveTitle{
        from {margin-left: 1%;}
        to {margin-left: 42%;}
      }
  </style>
  <title>login - FilesSharer</title>
</head>
<body>
  <header>
    <ul>
      <li class="left" style="
        animation: moveTitle 2s ease-in-out 0s 1;
        animation-fill-mode: forwards;
        position:relative;
        left:-12px;
      "><p class="pagetitle"><a href="/" style="color: #ffffff;">FS</a></p></li>
    </ul>
  </header>

  <div id="app">
    <form action="/auth/login" method="post">
      <p>用户名：<input id="username" /></p>
      <p>密码：<input id="username" /></p>
      <input type="submit" value="确定">
    </form>
  </div>
</body>
</html>